@use "../../styles/globalVariables.scss" as *;

.panelTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0;
  cursor: pointer;

  span {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $text-black;
  }
}
