@use "../../styles/global.scss" as *;

.searchPage {
  height: 100%;
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../../assets/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 30%;
  padding-top: 80px;
}

.container {
  @include mobile640 {
    padding: 10px;
  }
  width: 100%;
}
