:root {
  --text-black: #2f3037;
  --shallow-black: #2f3037b9;
  --head-black: #000000;
  --purple: #6d84ff;
}

@mixin mobile640 {
  @media only screen and (max-width: 640px) {
    @content;
  }
}

@mixin mobile768 {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
