@use "../../styles/global.scss" as *;

.searchResult {
  display: flex;
  height: 700px;
  max-height: 100%;
  overflow-y: scroll;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 16px 0;
}

.product {
  display: flex;
  flex-direction: column;
  width: 239px;
  height: fit-content;
  position: relative;

  @include mobile640 {
    width: 180px;
  }

  .wish {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 99;
  }

  img {
    height: 305px;
    width: 239px;
    object-fit: cover;
  }

  .productInfo {
    line-height: 24px;
    .title {
      width: fit-content;
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 12px;
    }
    .actualPrice {
      font-weight: 300;
      font-size: 20px;
      text-decoration-line: line-through;
      margin-right: 4px;
      color: var(--shallow-black);
    }
    .listPrice {
      font-weight: 600;
      font-size: 20px;
      color: var(--purple);
    }

    .prices {
      display: flex;
      align-items: center;
    }

    .rating {
      display: flex;
      align-items: center;

      span {
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        margin: 2px 0;
      }
    }
  }

  .imgCover {
    position: relative;
    margin-bottom: 16px;

    .viewProduct {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 40px;
      background: var(--purple);
      border: none;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    &:hover {
      .viewProduct {
        opacity: 1;
      }
    }
  }
}
