.searchResult {
  display: flex;
  height: 700px;
  max-height: 100%;
  overflow-y: scroll;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 16px 0;
}

.product {
  display: flex;
  flex-direction: column;
  width: 239px;
  height: fit-content;
  position: relative;

  .wish {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  img {
    height: 305px;
    width: 239px;
    object-fit: cover;
    margin-bottom: 16px;
  }

  .productInfo {
    line-height: 24px;
    .title {
      width: fit-content;
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 12px;
    }
    .actualPrice {
      font-weight: 300;
      font-size: 20px;
      text-decoration-line: line-through;
      margin-right: 4px;
      color: var(--shallow-black);
    }
    .listPrice {
      font-weight: 600;
      font-size: 20px;
      color: #6d84ff;
    }

    .prices {
      display: flex;
      align-items: center;
    }

    .rating {
      display: flex;
      align-items: center;

      span {
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        margin: 2px 0;
      }
    }
  }
}
